---
---
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1.5px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*********************
   	Menu
   *********************/
$icon--color: #1e2023;
$font--color: #000;
$font--color--active: #fff;
$transition--length: 0.8; //default state

.menu-icon {
	$size: 30px;
	height: $size;
	width: $size;
	position: fixed;
	z-index: 2;
	left: 50px;
	top: 30px;
	cursor: pointer;

	&__line {
		height: 2px;
		width: $size;
		display: block;
		background-color: $font--color;
		margin-bottom: 4px;
		transition: transform 0.2s ease, background-color 0.5s ease;
	}

	&__line-left {
		width: $size / 2;
	}

	&__line-right {
		width: $size / 2;
		float: right;
	}
}

.nav {
	$width: 100vw;
	$height: 100vh;
	$font--size--calc: calc(2vw + 10px);
	$transition--easing: cubic-bezier(.77,0,.175,1);
	position: fixed;
	z-index: 1;

	&:after,
	&:before {
		content: "";
		position: fixed;
		width: $width;
		height: $height;
		background: rgba(#eaeaea, .2);
		z-index: -1;
		transition: transform $transition--easing $transition--length + s;
		transform: translateX(0%) translateY(-100%);
	}

	&:after {
		background: #fff;
		transition-delay: 0s;
	}

	&:before {
		transition-delay: 0.1s;
	}

	&__content {
		position: fixed;
		top: 50%;
		transform: translate(0%,-50%);
		width: 100%;
		text-align: center;
		font-size: $font--size--calc;
		font-weight: 200;
		cursor: pointer;
	}

	&__list-item {
		position: relative;
		display: inline-block;
		transition-delay: $transition--length + s;
		opacity: 0;
		transform: translate(0%, 100%);
		transition: opacity 0.2s ease, transform 0.3s ease;
		margin-right: 25px;

		&:before {
			content: "";
			position: absolute;
			background: $font--color;
			width: 20px;
			height: 1px;
			top: 100%;
			transform: translate(0%, 0%);
			transition: all 0.3s ease;
			z-index: -1;
		}

		&:hover {
			&:before {
				width: 100%;
			}
		}
	}
}
//active state

body.nav-active {
	$menu--items--count: 4;

	.menu-icon {
		&__line {
			background-color: #000;
			transform: translateX(0px) rotate(-45deg);
		}

		&__line-left {
			transform: translateX(1px) rotate(45deg);
		}

		&__line-right {
			transform: translateX(-2px) rotate(45deg);
		}
	}

	.nav {
		visibility: visible;

		&:after,
		&:before {
			transform: translateX(0%) translateY(0%);
		}

		&:after {
			transition-delay: 0.1s;
		}

		&:before {
			transition-delay: 0s;
		}

		&__list-item {
			opacity: 1;
			transform: translateX(0%);
			transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
			@for $i from 0 through $menu--items--count {
				&:nth-child(#{$i}) {
					transition-delay: $transition--length * $i / 8 + .5 + s;
				}
			}
		}
	}
}
@font-face {
	font-family: 'Dry Brush';
	src: url("../assets/dry-brush.ttf");
}
$bg: white;

body {
	background: $bg;
	font-family: 'Open Sans', sans-serif;

	a {
		color: inherit;
		text-decoration: inherit;
	}
}

.header {
	position: relative;
	width: calc(100vw - 160px);
	height: calc(100vh - 160px);
	margin: 0 auto;
	position: relative;
	top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: url("https://source.unsplash.com/WbL7DjItqjI/2016x1512");
	background-size: cover;
	background-attachment: fixed;

	.logo {
		width: 20vw;
	}

	.title {
		font-family: 'Dry Brush', sans-serif;
		font-size: 8vw;
		text-align: right;
		line-height: 0.8;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 30vw;
		min-width: 300px;
		.black {
			color: black;
		}

		.red {
			color: #F44336;
		}
	}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
	display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
	/* 1 */
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
	visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
	*,
	*:after,
	*:before,
	blockquote:first-letter,
	blockquote:first-line,
	div:first-letter,
	div:first-line,
	li:first-letter,
	li:first-line,
	p:first-letter,
	p:first-line {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
