<div class="menu-icon">
	<span class="menu-icon__line menu-icon__line-left"></span>
	<span class="menu-icon__line"></span>
	<span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
	<div class="nav__content">
		<ul class="nav__list">
			<li class="nav__list-item"><a href="about">About</a></li>
			<li class="nav__list-item"><a href="https://github.com/arguiot">Projects</a></li>
			<li class="nav__list-item"><a href="mailto:arguiot@gmail.com">Contact</a></li>
		</ul>
	</div>
</div>
