body {
	font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	display: flex;
	color: var(--primary-text);
}
html {
	overflow-y: hidden;
	max-height: 100vh;
}

@media (max-width: 660px) {
	body {
		flex-direction: column;
	}
}

h1 {
	font-size: 73px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: -0.002em;
}

h2 {
	font-size: 44px;
	font-weight: 400;
	line-height: 53px;
	letter-spacing: -0.0275em;
}

p {
	font-size: 20px;
	font-weight: 400;
	color: inherit;
	line-height: 32px;
	letter-spacing: 0.002em;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

:root {
	color-scheme: light dark;
	--primary-text: #000;
	--secondary-text: #828282;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-text: #fff;
		--secondary-text: #ccc;
	}
}

section {
	&.main {
		nav {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			margin-top: 20px;
			a {
				color: var(--secondary-text);
	
				&.focused {
					color: var(--primary-text);
				}
			}
		}
	
		position: relative;
		min-width: 660px;
		max-width: 100vw;
		height: 100vh;
	
		.text {
			margin: 50px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&.about {
		img {
			width: 100vw;
			max-width: calc(500px - 60px);
		}
		width: 100vw;
		max-width: calc(500px - 60px);
		padding: 0 30px;
	}
	&.code {
		img {
			width: 100vw;
			max-width: calc(500px - 60px);
		}
		text-align: right;
		width: 100vw;
		max-width: calc(500px - 60px);
		padding: 0 30px;
	}
}

.empty {
	padding-right: 500px;
}